.modalOverlay{
    display: flex;
    left:50%;
    top:50%;
    position:fixed;
    z-index:1000;
    border-radius: 5px;
    justify-content: center;
    align-items: center;
    transform: translate(-50%, -50%);
    height: 100;
    backdrop-filter: blur(5px);
    height: 100%;
    width: 100%;
}

.modalContent{
    position: relative;
    padding:15px;
    max-height:90vh;
    border-radius:10px;
    overflow-y: auto;
    width: 70vh;
    box-shadow: rgb(0, 251, 255);
    z-index: 100;
    background-color: white;
    border:solid 1px black;
    box-shadow: 0 0 10px 0 rgba(22, 3, 3, 0.5);
}

.modalContent img{
    width: 300px;
    height: 350px;
}
