.MovieCard{
    border-radius: 5px;
    position: relative;
    margin: 10px;
    border: 2px solid black;
    display:flex;
    flex-direction: column;
}

.movieImage img {
    height: 350px;
    width:250px;
    border-radius: 5px;
    border: 2px solid violet;

}

.movieInfo{
    width: 250px;
    display: flex;
    flex-direction: column;
    flex-flow: column wrap;
    max-width: 100%;
    word-wrap: break-word;
}
