.MovieCard{
    border-radius: 8px;
    border: 2px solid black;
    display:flex;
    flex-direction: column;
    flex: 0 0 16%;
    width:100%;
    overflow: hidden;

}

.movieImage img {
    height: 350px;
    width:250px;
    border-radius: 5px;
    border: 2px solid rgb(7, 51, 56);

}

.movieInfo{
    width: 250px;
    display: flex;
    flex-direction: column;
    flex-flow: column wrap;
    max-width: 100%;
    word-wrap: break-word;
    margin:2px;
    font-style: normal white;
}

.movieIcons{
    display: flex;
    flex-direction: row;
    gap:150px;
    padding:10px;
    font-size: 15px;

}
