.navbar {
  position: absolute;
  top: 0;
  left: 0;
  width: 60px;
  color: #333333;
  padding: 0.5rem;
  box-shadow: 2px 0 5px rgba(171, 196, 202, 0.2);
  z-index: 9999;
  margin: 0;

  transform: none;
  display: block;
}

.sidebar_button {
  background: white;
  color: white;
  font-size: 1.5rem;
  border: none;
  cursor: pointer;
  margin-bottom: 0.5rem;
}

.sidebarMenu {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.sidebarMenu button {
  background-color: #c4d7d9;
  color: rgb(14, 13, 13);
  border: none;
  padding: 0.5rem;
  text-align: left;
  cursor: pointer;
  width: 100px;
}

.sidebarMenu button:hover {
  background-color: rgb(17, 168, 182);
}
