select {
    font-size: 15px;
    font-family: 'Arial', sans-serif;
    padding: 3px;
    border-radius: 5px;
    border: 1px solid #ccc;
    background-color: #fff;
    cursor: pointer;
    outline: none;
  }

  select:hover {
    border-color: #888;
  }
